body {
  font-family: "M PLUS Code Latin", sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  margin-bottom: 0;
  background-color: #1e1e1e;
}
header {
  margin: 0px;
  margin-bottom: 0;
}
h1 {
  font-size: 16px;
  font-weight: 600;
  color: #a6c36f;
  text-shadow: black 0.01em 0.01em 0.1em;
}
main {
  background-color: #335145;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.frame {
  height: 100vmax;
  width: 100%;
  background-color: #1e352f;
  z-index: 2;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #335145;
  height: 40px;
}
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #335145;
  box-shadow: black 2em;
}

.gif {
  width: 33px;
  height: 39px;
}

.close {
  margin-right: 2%;
}
